$mt-color: #ffd161;
$mt-light-color: #ffd161;
$mt-gray: #b1adad;
$mt-light-gray: #f8f8f8;

$mt-address-school: #85f544;
$mt-address-school-bg: #03ff031f;

$mt-address-home: #ff976a;
$mt-address-home-bg: #f7f7ab;

$mt-address-company: #5b5bf9;
$mt-address-company-bg: #c2c2df;

$mt-boder-color: #f7f5f5;
// base
$zindex-first: 10;
$zindex-second: 20;
$zindex-third: 30;
$zindex-fourth: 40;

// common
$zindex-navbar: 1000;
$zindex-dropdown: 1010;
$zindex-tooltip: 1020;
$zindex-mask: 1000;
$zindex-mask-box: 1001;
$zindex-mask-box-more: 1002;

$zindex-fixed: 3000;
$zindex-overlay: 9080;
$zindex-modal: 9090;

// based on project
$zindex-header: 1005;

// 菜单
$zindex-navbar-menu: 1001;
$zindex-navbar-main: 1002;

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

@-webkit-keyframes zoomOut {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	to {
		opacity: 0;
	}
}

@keyframes zoomOut {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	to {
		opacity: 0;
	}
}

.box-scale-enter-active,
.box-scale-leave-active {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.box-scale-enter-active {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

.box-scale-leave-active {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut;
}

@mixin scroll-style {
	// 滚动条样式
	::-webkit-scrollbar {
		width: 14px;
		height: 14px;
	}

	::-webkit-scrollbar-track,
	::-webkit-scrollbar-thumb {
		border-radius: 999px;
		border: 5px solid transparent;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
	}

	::-webkit-scrollbar-thumb {
		min-height: 20px;
		background-clip: content-box;
		-webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
		box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
	}

	::-webkit-scrollbar-corner {
		background: transparent;
	}
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

// 分割线样式 |
@mixin SeparationLine {
	content: '|';
	font-size: 14px;
	position: relative;
	top: -2px;
	margin-left: 5px;
}

.mt-flex-space-between {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.mt-flex-space-around {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-around;
}
.gray-bg {
	height: 100%;
	background-color: whitesmoke;
}
