@import '~css/common';

.van-radio .van-icon-checked {
  color: $mt-color;
}
.van-checkbox__icon--checked .van-icon {
  border-color: $mt-color;
  background-color: $mt-color;
}
a {
  color: #000;
}
html,
body {
  height: 100%;
}
.list-empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  p {
    @include center;
    margin-top: -46px;
  }
}
